@import "tailwindcss";

@theme {
  --color-primary: #000;
  --color-secondary: #fff;
  
  /* Font Family - attempting to set defaults if loading custom fonts later */
  --font-sans: Inter, sans-serif;
}
